@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#app {
  text-align: center;
  margin-top: 60px;
}

.dragme {
  background-color: wheat;
  border-radius: 8px;
  padding: 8px 16px;
  width: fit-content;
  margin: auto;
  cursor: pointer;
} */